{% load static %}


<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#0E0E0E">
    <meta name="template-color" content="#0E0E0E">
    <link rel="manifest" href="manifest.json.htm" crossorigin>
    <meta name="msapplication-config" content="browserconfig.xml">
    <meta name="description" content="Index page">
    <meta name="keywords" content="index, page">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/imgs/logo.jpg' %}">

    <link href="{% static 'assets/css/style.css'%}" rel="stylesheet">
    <title>اتو سرویس سید</title>
    <link href="{% static 'assets/css/rtl.css'%}" rel="stylesheet">
  </head>
  <body>
    <!-- Preloader Start-->
    <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
          <div class="text-center">
            <div class="loader"></div>
          </div>
        </div>
      </div>
    </div>
    <header class="header sticky-bar">
      <div class="container">
        <div class="main-header">
          <div class="header-left">
            <div class="header-nav">
              <nav class="nav-main-menu d-none d-xl-block">
                <ul class="main-menu">
                   <li class="has-children"><a class="active" href="{% url 'home:home' %}">صفحه اصلی</a>
                   </li>
                   <li class="has-children"><a href="{% url 'aboutus:aboutus' %}">درباره ما</a>
                   </li>
                   <li class="has-children"><a href="{% url 'contact:contact' %}">تماس با ما</a>
                   </li>
                   <li class="has-children"><a href="{% url 'product:product_list' %}">محصولات</a>
                   </li>
                   <li class="has-children"><a href="{% url 'cars:cars_list' %}">ماشین ها</a>
                   </li>
                 </ul>
              </nav>
              <div class="burger-icon burger-icon-white"><span class="burger-icon-top"></span><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
            </div>
          </div>
          
        </div>
      </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
      <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-content-area">
          <div class="perfect-scroll">       
            <div class="mobile-menu-wrap mobile-header-border">
              <!-- mobile menu start-->
                <nav>
                  <ul class="mobile-menu font-heading">
                   <li class="has-children"><a class="active" href="{% url 'home:home'%}">صفحه اصلی</a>
                   </li>
                   <li class="has-children"><a href="{% url 'aboutus:aboutus' %}">درباره ما</a>
                   </li>
                   <li class="has-children"><a href="{% url 'contact:contact' %}">تماس با ما</a>
                   </li>
                   <li class="has-children"><a href="{% url 'product:product_list' %}">محصولات</a>
                   </li>
                   <li class="has-children"><a href="{% url 'cars:cars_list' %}">ماشین ها</a>
                   </li>
                 </ul>
                </nav>
              <!-- mobile menu end-->
            </div> 
<div class="site-copyright color-gray-400">کپی رایت 1402 &copy; Agon - قالب آژانس. <br>طراحی شده توسط<a href="https://www.rtl-theme.com/agon-html-template/">&nbsp; لیمواستودیو</a></div>          </div>
        </div>
      </div>
    </div>
    <main class="main">
      <div class="section-box">
        <div class="banner-hero banner-homepage8">
          <div class="container mt-50">
            <div class="row">
              <div class="col-lg-7">
                <h1 class="text-display-4 font-bold mt-30"><span class="color-green-900">تعویض روغن </span> های خود را از مقصد ما جستجو کنید</h1>
                <a href="{% url 'contact:contact' %}"><span class="tag-1 bg-6 color-green-900">جستجو : (تماس با ما)</span></a>
                <div class="mt-40 box-mw-610">
                </div>
              </div>
              <div class="col-lg-5 d-none d-lg-block">
                <div class="banner-imgs d-flex">
                  <div class="rounded-img shape-1"><img class="img-responsive" alt="Agon" src="{% static 'assets/imgs/match/5.jpg' %}"></div>
                  <div class="rounded-img mt-20 shape-1-2"><img class="img-responsive" alt="Agon" src="{% static 'assets/imgs/match/2.jpg' %}"></div>
                  <div class="rounded-img shape-1"><img class="img-responsive" alt="Agon" src="{% static 'assets/imgs/match/3.jpg' %}"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-box mt-100">
        <div class="container">
          <h2 class="text-heading-1 color-gray-900 mt-30"> محصولات ما</h2>
          <p class="text-body-lead-large color-gray-600 mt-20"> ما بهترین قیمت را برای مشتریان خود در نظر داریم<br class="d-lg-block d-none"></p>
        </div>
        <div class="container mt-70">
          <div class="row mt-40">
            {% comment %} product start {% endcomment %}
            {% for product in product %}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
              <div class="product-item-2 product-item-3 wow animate__animated animate__fadeIn" data-wow-delay=".1s"><a href="{% url 'product:product_detail' product.id %}">
                <div class="product-image"><img src="{{ product.main_image.url }}"></div></a>
                <div class="product-info">
                  <div class="rating">
                    <div class="box-rating"><span><img src="{% static 'assets/imgs/page/homepage5/star-active.svg'%}"></span><span><img src="{% static 'assets/imgs/page/homepage5/star-active.svg'%}"></span><span><img src="{% static 'assets/imgs/page/homepage5/star-active.svg'%}"></span><span><img src="{% static 'assets/imgs/page/homepage5/star-active.svg'%}"></span><span><img src="{% static 'assets/imgs/page/homepage5/star-active.svg'%}"></span></div>
                  </div><a href="{% url 'product:product_detail' product.id %}">
                  <h3 class="text-body-lead color-gray-900">{{ product.name }}</h3></a>
                  <div class="d-flex mt-20">
                  </div>
                  <div class="d-flex mt-30">
                    <div class="box-prices"><span class="price-regular mr-5">{{ product.price }} تومان</span></div>
                    <div class="button-add text-end"><a class="btn btn-explorer" href="{% url 'product:product_detail' product.id %}">اطلاعات بیشتر</a></div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            {% comment %} product end {% endcomment %}
          </div>
          <div class="text-center mt-30"><a class="btn btn-black icon-arrow-right-white" href="{% url 'product:product_list' %}">محصولات بیشتر</a></div>
        </div>
      </div>
      <br>
      <br>
      {% comment %} about us start {% endcomment %}
      <div class="container">
          <h2 class="text-heading-1 color-gray-900 mt-30"> درباره ما</h2>
          <p class="text-body-lead-large color-gray-600 mt-20">با تیم ما بیشتر آشنا بشوید<br class="d-lg-block d-none"></p>
        </div>
      <br>
      {% for about in about %}
      <div class="section-box bg-7 mt-70">
        <div class="container mt-100 mb-50">
          <div class="row mt-40">
            <div class="col-lg-6 col-sm-12 block-we-do-2">
              <a href="{% url 'aboutus:aboutus' %}"><h3 class="text-heading-1 mt-30">{{ about.name }}</h3></a>
              <p class="text-body-lead-large color-gray-600 mt-30">{{ about.description }}</p>
              <div class="list-icons mt-40">
                <div class="item-icon none-bd وای animate__animated animate__fadeIn" data-wow-delay=".3s"><span class="icon-left"><img src="{% static 'assets/imgs/match/2.jpg'%}"></span>
                  <h4 class="text-heading-4">با بیش از {{ about.experience }}  سال تجربه</h4>
                  <p class="text-body-excerpt color-gray-600 mt-15"> با بیش از {{ about.experience }} ساب تجربه کاری</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12 block-img-we-do img-bottom">
              <div class="inner-image"><img class="img-responsive" src="{{ about.image.url }}" alt="Agon"></div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="text-center mt-30"><a class="btn btn-black icon-arrow-right-white" href="{% url 'aboutus:aboutus' %}">مشاهده بیشتر</a></div>
      {% comment %} about us end {% endcomment %}
    </main>
    <!-- Footer-->
    <footer class="footer mt-50">
      <div class="container">
        <div class="footer-top">
        </div>
        <div class="row">
          <div class="col-lg-3 width-20 mb-30">
          <h4 class="text-heading-5">تماس با</h4>
          {% for contact in contact %}
            <div class="mt-20 text-body-text color-gray-600 mb-20">{{ contact.addres }}</div>
             <div class="mt-20 text-body-text color-gray-600">{{ contact.phone}}</div>
            <div class="text-body-text color-gray-600">{{ contact.email }}</div>
          {% endfor %}
          </div>
<div class="col-lg-3 width-20 mb-30">
             <h4 class="text-heading-5">درباره ما</h4>
             <ul class="menu-footer mt-20">
               <li><a href="{% url 'aboutus:aboutus' %}">تجربیات ما</a></li>
               <li><a href="{% url 'aboutus:aboutus' %}">تیم ما</a></li>
               <li><a href="{% url 'aboutus:aboutus' %}">کار و وظایف ما</a></li>
             </ul>
           </div>
           <div class="col-lg-3 width-20 mb-30">
             <h4 class="text-heading-5">ماشین ها</h4>
             <ul class="menu-footer mt-20">
               <li><a href="{% url 'cars:cars_list' %}">ایران خودرو</a></li>
               <li><a href="{% url 'cars:cars_list' %}">بنز</a></li>
               <li><a href="{% url 'cars:cars_list' %}">ماشین های چینی</a></li>
             </ul>
           </div>
           <div class="col-lg-3 width-20 mb-30">
             <h4 class="text-heading-5">محصولات</h4>
             <ul class="menu-footer mt-20">
               <li><a href="{% url 'product:product_list' %}">محصولات جدید</a></li>
               <li><a href="{% url 'product:product_list' %}">محصولات ویژه</a></li>
               <li><a href="{% url 'product:product_list' %}">محصولات خاص</a></li>
             </ul>
           </div>
           <div class="col-lg-3 width-16">
             <h4 class="text-heading-5">پیوندهای مفید</h4>
             <ul class="menu-footer mt-20">
               <li><a href="{% url 'contact:contact' %}">یک پیشنهاد دهید</a></li>
               <li><a href="{% url 'aboutus:aboutus' %}">نحوه کار</a></li>
               <li><a href="{% url 'product:product_list' %}">قیمت ها</a></li>
               <li><a href="{% url 'cars:cars_list' %}">برای ماشینم چقدر روغن استفاده کنم؟</a></li>
             </ul>
           </div>
        </div>
        <div class="footer-bottom mt-20">
          <div class="row">
            <div class="col-md-6"><a class="text-body -text color-gray-400 ml-50" href="page-terms.html"></a><a class="text-body-text color-gray-400 ml-50" href="page- Terms.html"></a></div>
            <div class="col-md-6 text-center text-lg-end text-md-end">
            <div class="text-body-text color-gray-400 mr-50">
            {% for social in contact %}
              <div class="footer-social"></a><a class="icon-socials icon-instagram" href="{{ social.instagram_link }}"></a></div>
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="{% static 'assets/js/vendors/jquery-3.6.0.min.js'%}"></script>
    <script src="{% static 'assets/js/vendors/jquery-migrate-3.3.0.min.js'%}"></script>
    <script src="{% static 'assets/js/vendors/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'assets/js/vendors/waypoints.js'%}"></script>
    <script src="{% static 'assets/js/vendors/wow.js'%}"></script>
    <script src="{% static 'assets/js/vendors/magnific-popup.js'%}"></script>
    <script src="{% static 'assets/js/vendors/perfect-scrollbar.min.js'%}"></script>
    <script src="{% static 'assets/js/vendors/select2.min.js'%}"></script>
    <script src="{% static 'assets/js/vendors/isotope.js'%}"></script>
    <script src="{% static 'assets/js/vendors/scrollup.js'%}"></script>
    <script src="{% static 'assets/js/vendors/counterup.js'%}"></script>
    <script src="{% static 'assets/js/vendors/slick.js'%}"></script>
    <script src="{% static 'assets/js/vendors/jquery.elevatezoom.js'%}"></script>
    <script src="{% static 'assets/js/vendors/swiper-bundle.min.js'%}"></script>
    <script src="{% static 'assets/js/vendors/noUISlider.js'%}"></script>
    <script src="{% static 'assets/js/vendors/slider.js'%}"></script>
    <script src="{% static 'assets/js/main.js'%}"></script>
  </body>
</html>